<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this follow page </h1>
<h1>
    visit this page  {{ follow }}
</h1>


<a href="/about/"> about page</a><br>
<a href="/">home page</a><br>
<a href="/contact/">contract page</a><br>
<a href="/upload/">upload page</a><br>
<a href="/download">download page</a><br>
<a href="/file_view/"> file_view page</a><br>
<a href="/blocking"> blocking </a><br>
<a href="/friend_request/"> friend_request</a><br>
<a href="/follow"> follow</a><br>

</body>
</html>